<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

  <div class="container">
    <!-- Start Header -->
    <div class="d-flex p-3 flex-column" style="background-color: #303a52; color: #FFFFFF; height: 150px">
      <h3>PrettyCalendar</h3>
      <img th:src="${session.picture}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      <p th:text="${session.name}"></p>
    </div>
    <!-- End Header -->

    <!-- Start Body -->
    <div class="d-flex p-3 justify-content-center flex-column">

      <!-- Start list event page -->
      <a href="/event" class="btn btn-info btn-lg w-25">Add new event</a>
      <div class="container w-75 bg-light">
      <!-- If event list is not null -->
        <div th:if="${events != null and !events.empty}">
        <div class="row row-cols-4">
          <div class="card col m-3" th:each="event : ${events}" style="border-top: 3px solid blue !important;">
            <div class="card-body">
              <h5 class="card-title" th:text="${event.summary}"></h5>
              <h6 class="card-subtitle mb-2 text-muted" th:text="${event.start}"></h6>
              <p class="card-text" th:text="${event.description}"></p>
            </div>
          </div>
        </div>
        </div>
        <!-- else event list is null -->
<div th:unless="${events != null and !events.empty}">
   <div class="alert alert-primary">You do not have any upcoming events.</div>
</div>
      </div>

      <!-- End list event page -->

    </div>
    <!-- End Body -->
  </div>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>