<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/dc483541e9.js" crossorigin="anonymous"></script>
  <style>
  	body{
  		color : #4e413b;
  		background-image: url('/img/index_bg.jpg');
    	background-repeat: no-repeat;
    	background-attachment: fixed;
  		background-size: cover;
  	}
    h2 > span {
    	color : #e2ded3;
    }
    
  </style>
</head>
<body>

  <div class="container w-25 m-5">
    <!-- Start Header -->
    <div class="d-flex p-3 flex-column align-items-center">
    	<span class="far fa-calendar-alt p-2 mt-5"style=" font-size: 72px;"></span>
    	<h2>Pretty<span>Calendar</span></h2>
    	<p class="mt-5 text-center">Welcome to PrettyCalendar. Getting started is easy!</p>
      <a href="/signin" class="btn btn-lg mt-5" style="background-color: #e2ded3;">
      	<span>
      		<i class="fab fa-google" style="color:#4285f4;"></i>&nbsp;&nbsp;&nbsp;Sign in with Google
      	</span>
      </a>
    </div>
    <!-- End Header -->

  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>